<%- include("partials/header.ejs") %>

<div class="container-fluid">
    <div class="row" style="display:flex;flex-wrap:wrap;">
          <% for(var i=0;i<places.length;i++){ %>
       <div class="col col-lg-4">
         <div class="card mx-2 my-1" style="width:200px">
             <img class="card-img-top" src="<%=places[i].icon%>" alt="Card image">
             <div class="card-body">
               <h4 class="card-title"> <%=places[i].name%></h4>
               <p class="card-text"> <%=places[i].formatted_address%></p>
             </div>
         </div>
        </div>
           <%}%>
    </div>

</div>



<%- include("partials/footer.ejs") %>
